#blossom .gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# main saved directories are <root> /generators and  /env


# Vim swp-files
*.swp

# virtual env - to be set up AFTER clone
/env

# images, audio, video, models, etc
/media

# testing other than /test
/logs
/expt
/coverage


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-debug.log*
yarn-error.log*

